.button {
    width: 200px;
    margin: 10px;
    height: 40px;
    background-color: orange;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.1s ease-in-out;
}

.button:hover {
    box-shadow: 0 0 5px 0.5px inset lightslategray;
}