.navbar {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    height: 60px;
    font-size: 1.3rem;
    box-shadow: 0 0 5px 0.7px gray;
    color: #333333;
}

.navbar div {
    transition: all 0.25s ease-in-out;
    cursor: pointer;
}

.navbar div:hover {
    color: #00bb35;
}