.header {
    position: sticky;
    left: 0;
    top: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    border-bottom: 3px #00bb35 solid;
    box-shadow: 0 0 5px 0.7px gray;
    z-index: 2;
    padding: 10px 20px;
    box-sizing: border-box;
    width: 100%;
}

.logo {
    display: flex;
    align-items: center;
}

.profile span > * {
    margin: 0 0 0 10px;
    display: block;
    color: black;
    text-decoration: none;
    transition: all 0.25s ease-in-out;
    cursor: pointer;
}

.profile span > *:hover {
    color: forestgreen;
}