.card {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    width: fit-content;
    padding: 30px 20px;
    box-shadow: 0 0 5px 1px #aaaaaa5d;
    background-color: white;
    transition: all 0.25s ease-in-out;
    font-size: 1.25em;
}

.card:hover .desc {
    visibility: visible;
    opacity: 1;
}

.desc {
    box-sizing: border-box;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.911);
    font-size: 0.8em;
    box-shadow: 0 0 5px 1px rgba(116, 116, 116, 0.493);
    padding: 10px;
    visibility: hidden;
    opacity: 0;
    transition: all 0.5s ease-in-out;
}

h4 {
    margin: 0;
}

.card:hover {
    box-shadow: 0 0 2px 2px #00bb35
}

p {
    margin: 0;
}

.btn {
    width: 220px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    border: none;
    color: #333333;
    border: 1px solid rgba(0, 0, 0, 0.267);
    font-size: 1.25rem;
    cursor: pointer;
    transition: all 0.25s ease-in-out;
    position: relative;
    text-decoration: none;
    margin-top: 10px;
}

.btn::after {
    content: "Оформить";
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 40px;
    background-color: unset;
    transition: all 0.35s ease-in-out;
    opacity: 0;
    z-index: 1;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn:hover::after {
    background-color: #00bb35;
    width: 100%;
    opacity: 1;
}

.short_dets {
    font-size: 0.7em;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 220px;
    color: gray;
}